.footer {
	@extend .container;
	@extend .mt-pad;
	font-size: rem-calc(10);
	line-height: 1.8;
	background-color: lighten(color(gray-light), 32%);
	padding-top: $padding * 2;
	padding-bottom: $padding * 2;
	color: lighten(color(gray), 30%);

	@media #{$medium-up} {
		font-size: rem-calc(13);
		padding-top: $padding * 4;
		padding-bottom: $padding * 4;
	}

	a {
		text-decoration: none;
		color: lighten(color(gray), 30%);
		display: inline-block;

		&:hover {
			color: lighten(color(gray), 10%);
		}

		@media #{$medium-up} {
			margin-bottom: $padding * 0.2;
		}
	}

	.sectionTitle {
		@extend h4;
		margin-bottom: $padding*0.5 !important;


		a {
			color: color(primary);
		}
	}

	> .row {
		&:first-child {
			margin-bottom: $padding * 4;
		}
	}
	.copyright {
		@extend .col;
		@extend .m-6-12;
		margin-bottom: $padding;
	}
	&_links {
		@extend .col;
		@extend .m-6-12;
		text-align: left;
		
		@media #{$medium-up} {
			text-align: right;
		}

		ul {
			@media #{$medium-up} {
				float: right;
			}
		}

		li {
			float: left;
			padding-left: $padding * 0.5;
			padding-right: $padding * 0.5;
			border-right: 1px solid lighten(color(gray), 30%);
			line-height: 1;

			&:first-child {
				@media #{$small-only} {
					padding-left: 0;
				}
			}

			&:last-child {
				padding-right: 0;
				border-right: none;
			}
		}
	}
}
.footer_block {
	@extend .col;
	@extend	.s-4-12;
	@extend .m-2-12;
	margin-bottom: $padding * 2;

	@media #{$small-only} {
		&:nth-child(4) {
			clear: left;
		}
	}

	@media #{$medium-up} {
		padding-right: $padding;
	}

	&:last-child {
		padding-right: 0;
	}
}