//Defaults & Framework
@import 
	"bourbon",
	"compass/reset",
	"framework/global",
	"framework/settings",
	"framework/grid";

// Modules
@import 
	"modules/colors",
	"modules/typography",
	"modules/icons",
	"modules/lists",
	"modules/buttons",
	"modules/forms",
	"modules/spinner",
	"modules/loader";

// Components
@import 
	"components/block-grid",
	"components/accordion",
	"components/page-nav",
	"components/breadcrumb",
	"components/hero"
	;

// Sections

@import
	"sections/header",
	"sections/footer",
	"sections/home"
	;


html, body {
	width: 100% !important;
	overflow-x: hidden;
}

.extra-bg {
	user-select: none;

	img {
		@media #{$small-only} {
			width: 200%;
			margin-left: -25%;
			max-width: none;
		}
	}
}