.hero {
	@extend .container;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: $padding * 4;
	padding-bottom: $padding * 4;
	transform: translateZ(.0001%);

	@media #{$small-only} {
		background-size: 200% auto;
		background-position: right rem-calc(-80) !important;
	}

	@media #{$large-up} {
		background-attachment: fixed;
	}

	&-bgRight {
		background-position: top right;
	}

	> .row {
		@extend .mt-pad;

		@media #{$small-only} {
			padding-left: 0;
			padding-right: 0 !important;
		}
	}

	&-responsibility {
		background-color: lighten(color(gray-light), 32%);
	}
}
.hero_content {
	@extend .col;
	@extend .m-8-12;
	@extend .l-5-12;
	background-color: color(white);
	padding: $padding * 2;

	@media #{$small-only} {
		margin-top: $padding * 5;
		margin-bottom: -$padding*3;
	}

	&-noBG {
		padding-top: 0;
		padding-bottom: 0;
		
		@media #{$medium-up} {
			background-color: transparent;
			padding-left: 0;
			padding-right: 0;
		}
	}
}
.hero_title {
	@extend .text-light;
	@extend .c-p;
	margin-top: $padding * 3;
}

.hero-locations {
	@media #{$small-only} {
		background-size: auto rem-calc(400);
		background-position: center top !important;
	}

	@media #{$medium-only} {
		background-position: 30% top;
	}

	.hero_content {
		@extend .m-7-12;
		@extend .l-4-12;

		@media #{$small-only} {
			margin-top: $padding * 10;
		}

		@media #{$medium-only} {
			margin-top: $padding * 10;
		}
	}
}