@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, .accordion_heading, .related-subsidiaries > h1, h4, .footer .sectionTitle, .home-quickLinks li, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

img {
  float: left;
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

* {
  box-sizing: border-box; }

.container, .accordion_wrapper, .page-nav_wrapper, .hero, .header, .footer, .slider .slide_content {
  width: 100%;
  max-width: 100% !important;
  float: left; }

.row, .accordion, .page-nav {
  width: 100%;
  max-width: 68.75rem;
  margin: auto auto; }
  .row:before, .accordion:before, .page-nav:before, .row:after, .accordion:after, .page-nav:after {
    content: " ";
    display: table; }
  .row:after, .accordion:after, .page-nav:after {
    clear: both; }

.collapse {
  padding: 0 !important; }

.col, .block-grid > div, .hero_content, .header_logo, .header .navItems_wrapper, .footer .copyright, .footer_links, .footer_block, .slider .slide_subhead {
  width: 100%;
  float: left; }

[class*='col-'], [class*='m-']:last-of-type, [class*='s-']:last-of-type {
  padding-right: 1.25rem; }

[class*='col-']:last-of-type, [class*='m-']:last-of-type, [class*='s-']:last-of-type {
  padding-right: 0;
  float: right; }

.end {
  float: left !important; }

.s-0-12 {
  width: 0%;
  float: left; }

.s-offset-0 {
  margin-left: 0%; }

.s-1-12 {
  width: 8.33333%;
  float: left; }

.s-offset-1 {
  margin-left: 8.33333%; }

.s-2-12 {
  width: 16.66667%;
  float: left; }

.s-offset-2 {
  margin-left: 16.66667%; }

.s-3-12 {
  width: 25%;
  float: left; }

.s-offset-3 {
  margin-left: 25%; }

.s-4-12, .footer_block {
  width: 33.33333%;
  float: left; }

.s-offset-4 {
  margin-left: 33.33333%; }

.s-5-12 {
  width: 41.66667%;
  float: left; }

.s-offset-5 {
  margin-left: 41.66667%; }

.s-6-12, .related-subsidiaries > div {
  width: 50%;
  float: left; }

.s-offset-6 {
  margin-left: 50%; }

.s-7-12 {
  width: 58.33333%;
  float: left; }

.s-offset-7 {
  margin-left: 58.33333%; }

.s-8-12 {
  width: 66.66667%;
  float: left; }

.s-offset-8 {
  margin-left: 66.66667%; }

.s-9-12 {
  width: 75%;
  float: left; }

.s-offset-9 {
  margin-left: 75%; }

.s-10-12 {
  width: 83.33333%;
  float: left; }

.s-offset-10 {
  margin-left: 83.33333%; }

.s-11-12 {
  width: 91.66667%;
  float: left; }

.s-offset-11 {
  margin-left: 91.66667%; }

.s-12-12 {
  width: 100%;
  float: left; }

.s-offset-12 {
  margin-left: 100%; }

@media only screen and (min-width: 40.063em) {
  .m-0-12 {
    width: 0%;
    float: left; }

  .m-offset-0 {
    margin-left: 0%; }

  .m-1-12 {
    width: 8.33333%;
    float: left; }

  .m-offset-1 {
    margin-left: 8.33333%; }

  .m-2-12, .header_logo, .footer_block {
    width: 16.66667%;
    float: left; }

  .m-offset-2 {
    margin-left: 16.66667%; }

  .m-3-12, .block-grid-4 > div {
    width: 25%;
    float: left; }

  .m-offset-3 {
    margin-left: 25%; }

  .m-4-12, .block-grid-3 > div, .related-subsidiaries > div {
    width: 33.33333%;
    float: left; }

  .m-offset-4 {
    margin-left: 33.33333%; }

  .m-5-12 {
    width: 41.66667%;
    float: left; }

  .m-offset-5 {
    margin-left: 41.66667%; }

  .m-6-12, .block-grid-2 > div, .footer .copyright, .footer_links, .slider .slide_subhead {
    width: 50%;
    float: left; }

  .m-offset-6 {
    margin-left: 50%; }

  .m-7-12, .hero_content {
    width: 58.33333%;
    float: left; }

  .m-offset-7 {
    margin-left: 58.33333%; }

  .m-8-12 {
    width: 66.66667%;
    float: left; }

  .m-offset-8 {
    margin-left: 66.66667%; }

  .m-9-12 {
    width: 75%;
    float: left; }

  .m-offset-9 {
    margin-left: 75%; }

  .m-10-12, .header .navItems_wrapper {
    width: 83.33333%;
    float: left; }

  .m-offset-10 {
    margin-left: 83.33333%; }

  .m-11-12 {
    width: 91.66667%;
    float: left; }

  .m-offset-11 {
    margin-left: 91.66667%; }

  .m-12-12 {
    width: 100%;
    float: left; }

  .m-offset-12 {
    margin-left: 100%; } }
@media only screen and (min-width: 64.063em) {
  .l-0-12 {
    width: 0%;
    float: left; }

  .l-offset-0 {
    margin-left: 0%; }

  .l-1-12 {
    width: 8.33333%;
    float: left; }

  .l-offset-1 {
    margin-left: 8.33333%; }

  .l-2-12 {
    width: 16.66667%;
    float: left; }

  .l-offset-2 {
    margin-left: 16.66667%; }

  .l-3-12, .related-subsidiaries > div {
    width: 25%;
    float: left; }

  .l-offset-3 {
    margin-left: 25%; }

  .l-4-12, .slider .slide_subhead {
    width: 33.33333%;
    float: left; }

  .l-offset-4 {
    margin-left: 33.33333%; }

  .l-5-12, .hero_content {
    width: 41.66667%;
    float: left; }

  .l-offset-5 {
    margin-left: 41.66667%; }

  .l-6-12 {
    width: 50%;
    float: left; }

  .l-offset-6 {
    margin-left: 50%; }

  .l-7-12 {
    width: 58.33333%;
    float: left; }

  .l-offset-7 {
    margin-left: 58.33333%; }

  .l-8-12 {
    width: 66.66667%;
    float: left; }

  .l-offset-8 {
    margin-left: 66.66667%; }

  .l-9-12 {
    width: 75%;
    float: left; }

  .l-offset-9 {
    margin-left: 75%; }

  .l-10-12 {
    width: 83.33333%;
    float: left; }

  .l-offset-10 {
    margin-left: 83.33333%; }

  .l-11-12 {
    width: 91.66667%;
    float: left; }

  .l-offset-11 {
    margin-left: 91.66667%; }

  .l-12-12 {
    width: 100%;
    float: left; }

  .l-offset-12 {
    margin-left: 100%; } }
@media only screen and (max-width: 40em) {
  .m-pad, .mt-pad, .page-nav, .hero > .row, .hero > .accordion, .hero > .page-nav, .header, .footer, .slider .slide_content {
    padding-left: 1.875rem;
    padding-right: 1.875rem !important; } }

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .mt-pad, .page-nav, .hero > .row, .hero > .accordion, .hero > .page-nav, .header, .footer, .slider .slide_content {
    padding-left: 1.875rem;
    padding-right: 1.875rem; } }

.pbn {
  padding-bottom: 1.25rem; }

.pbb {
  padding-bottom: 2.5rem; }

@media only screen and (max-width: 40em) {
  .s-hide {
    display: none; } }

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .m-hide {
    display: none; } }

@media only screen and (min-width: 64.063em) {
  .l-hide {
    display: none; } }

.sm-hide {
  display: none; }
  @media only screen and (min-width: 64.063em) {
    .sm-hide {
      display: auto; } }

@media only screen and (min-width: 40.063em) {
  .ml-hide {
    display: none; } }

.left {
  float: left; }

.right {
  float: right; }

h1 {
  font-size: 2.25rem;
  line-height: 3rem;
  margin-bottom: 1.5rem !important; }
  @media only screen and (min-width: 40.063em) {
    h1 {
      font-size: 3rem;
      line-height: 3.25rem;
      margin-bottom: 1.625rem !important; } }
  @media only screen and (min-width: 64.063em) {
    h1 {
      font-size: 3rem;
      line-height: 3.25rem;
      margin-bottom: 1.625rem !important; } }

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem !important; }
  @media only screen and (min-width: 40.063em) {
    h2 {
      font-size: 1.875rem;
      line-height: 2.375rem;
      margin-bottom: 1.1875rem !important; } }
  @media only screen and (min-width: 64.063em) {
    h2 {
      font-size: 2.25rem;
      line-height: 2.6875rem;
      margin-bottom: 1.34375rem !important; } }

h3, .accordion_heading, .related-subsidiaries > h1 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0.875rem !important; }
  @media only screen and (min-width: 40.063em) {
    h3, .accordion_heading, .related-subsidiaries > h1 {
      font-size: 1.25rem;
      line-height: 2rem;
      margin-bottom: 1rem !important; } }
  @media only screen and (min-width: 64.063em) {
    h3, .accordion_heading, .related-subsidiaries > h1 {
      font-size: 1.375rem;
      line-height: 2rem;
      margin-bottom: 1rem !important; } }

h4, .footer .sectionTitle, .home-quickLinks li {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.75rem !important; }
  @media only screen and (min-width: 40.063em) {
    h4, .footer .sectionTitle, .home-quickLinks li {
      font-size: 1.125rem;
      line-height: 1.75rem;
      margin-bottom: 0.875rem !important; } }
  @media only screen and (min-width: 64.063em) {
    h4, .footer .sectionTitle, .home-quickLinks li {
      font-size: 1.125rem;
      line-height: 1.75rem;
      margin-bottom: 0.875rem !important; } }

h5 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.625rem !important; }
  @media only screen and (min-width: 40.063em) {
    h5 {
      font-size: 1rem;
      line-height: 1.625rem;
      margin-bottom: 0.8125rem !important; } }
  @media only screen and (min-width: 64.063em) {
    h5 {
      font-size: 1rem;
      line-height: 1.625rem;
      margin-bottom: 0.8125rem !important; } }

body {
  color: #4D4D4D; }

body, p {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: "myriad pro", arial, lato, sans-serif;
  font-weight: 200;
  letter-spacing: 0.1px; }
  @media only screen and (min-width: 40.063em) {
    body, p {
      font-size: 1rem;
      line-height: 1.5rem; } }

h1, h2, h3, .accordion_heading, .related-subsidiaries > h1, h4, .footer .sectionTitle, .home-quickLinks li, h5, h6 {
  font-weight: 400; }

p {
  margin-bottom: 1.5rem; }

strong {
  font-weight: 400; }

.nmt {
  margin-top: 0; }

.nmb {
  margin-bottom: 0 !important; }

.text-center {
  text-align: center; }

.text-light, .hero_title, .related-subsidiaries > h1 {
  font-weight: 100; }

.c-p, .hero_title {
  color: #FF0000; }

.plain {
  color: #FF0000;
  text-decoration: none; }
  .plain:hover {
    color: #cc0000; }

.list {
  margin-left: 1.25rem;
  margin-bottom: 2.5rem; }

.list-dash li {
  position: relative; }
  .list-dash li:before {
    content: '-';
    padding-right: 1.25rem;
    margin-left: -1.25rem;
    display: inline-block;
    position: absolute; }

.button, input[type="submit"] {
  padding: 0.625rem 1.25rem;
  background-color: #FF0000;
  color: #fff;
  text-decoration: none;
  font-weight: 400; }
  .button:hover, input[type="submit"]:hover {
    background-color: #cc0000; }
  .button-arrow-right:after {
    content: "→";
    padding-left: 2.5rem; }

input,
textarea {
  width: 100%;
  background-color: gray;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  border: none;
  margin-bottom: 0.625rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #000; }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #000; }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #000; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #000; }

input[type="submit"] {
  width: auto;
  font-weight: 900;
  cursor: pointer;
  padding: 1.25rem 2.5rem; }

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out; }

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }
@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0; } }
.block-grid {
  width: 100%; }
  .block-grid a {
    text-decoration: none;
    color: inherit; }
    .block-grid a img {
      -webkit-transition: -webkit-transform 2s ease-in-out;
              transition: transform 2s ease-in-out; }
    .block-grid a:hover img {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2); }
  .block-grid > div {
    float: left;
    position: relative; }

.block-grid-teaser > div {
  overflow: hidden;
  -webkit-perspective: 31.25rem;
          perspective: 31.25rem; }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .block-grid-teaser > div h3, .block-grid-teaser > div .accordion_heading, .block-grid-teaser > div .related-subsidiaries > h1 {
      font-size: 1rem;
      line-height: 1.6; } }
  .block-grid-teaser > div img {
    float: left;
    width: 100%;
    -webkit-transition: -webkit-transform 2s ease-in-out;
            transition: transform 2s ease-in-out; }
  .block-grid-teaser > div:hover img {
    -webkit-transform: scale(1.1) rotateY(6deg);
            transform: scale(1.1) rotateY(6deg); }
.block-grid-teaser_title, .block-grid-teaser_arrow {
  color: #fff;
  position: absolute;
  left: 0;
  padding-left: 2.5rem;
  padding-right: 2.5rem; }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .block-grid-teaser_title, .block-grid-teaser_arrow {
      padding-left: 1.25rem;
      padding-right: 1.25rem; } }
.block-grid-teaser_title {
  top: 0;
  padding-top: 2.5rem; }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .block-grid-teaser_title {
      padding-top: 1.25rem; } }
.block-grid-teaser_arrow {
  bottom: 0;
  padding-bottom: 2.5rem; }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .block-grid-teaser_arrow {
      padding-bottom: 1.25rem; } }
  .block-grid-teaser_arrow:after {
    content: '›';
    font-size: 180%; }

.block-grid-2 > div:nth-child(2n+1) {
  clear: left; }

.block-grid-2-with-margins > div {
  margin-bottom: 2.5rem; }
  @media only screen and (min-width: 40.063em) {
    .block-grid-2-with-margins > div {
      width: 48%; } }
  .block-grid-2-with-margins > div:nth-child(2n) {
    float: right; }
  .block-grid-2-with-margins > div:nth-child(2n+1) {
    clear: both; }

.block-grid-4 > div:nth-child(4n+1) {
  clear: left; }

.block-grid-4-margins > div {
  margin-bottom: 2.5rem; }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .block-grid-4-margins > div {
      width: 30%;
      margin-right: 5%; }
      .block-grid-4-margins > div:nth-child(3n+1) {
        clear: left; }
      .block-grid-4-margins > div:nth-child(3n) {
        margin-right: 0; }
      .block-grid-4-margins > div:nth-child(4n+1) {
        clear: none; } }
  @media only screen and (min-width: 64.063em) {
    .block-grid-4-margins > div {
      width: 23%;
      margin-right: 2%; }
      .block-grid-4-margins > div:nth-child(4n) {
        margin-right: 0; } }

.img_wrapper {
  float: left;
  overflow: hidden;
  margin-bottom: 1.25rem; }

.accordion_wrapper {
  float: left;
  padding-bottom: 5rem; }

.accordion a {
  text-decoration: none;
  color: inherit; }

.accordion_heading {
  background-color: #FF0000;
  color: #fff;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1.25rem;
  width: 100%;
  cursor: pointer;
  -webkit-transition: background-color 0.6s ease-out;
          transition: background-color 0.6s ease-out; }
  .accordion_heading:after {
    content: '';
    float: right; }
  .accordion_heading:hover {
    background-color: #cc0000; }

.accordion_content {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

.page-nav_wrapper {
  background: url('/assets/img/border.png?1439890343') no-repeat;
  background-size: 115% auto;
  background-position: bottom center;
  margin-bottom: 1.25rem; }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .page-nav_wrapper {
      background-size: 110% auto; } }
  @media only screen and (min-width: 64.063em) {
    .page-nav_wrapper {
      background-size: 100% auto; } }

.page-nav {
  overflow-x: hidden; }
  .page-nav ul {
    width: 312.5rem; }
  .page-nav li {
    display: inline; }
  .page-nav a {
    color: #FF0000;
    text-decoration: none;
    padding-right: 1.25rem;
    font-weight: 300;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    display: inline-block; }
    .page-nav a:after {
      content: '›';
      font-size: 180%;
      padding-left: 0.625rem;
      display: inline-block;
      position: relative;
      top: 0.1875rem;
      -webkit-transition: -webkit-transform 0.6s ease-in-out;
              transition: transform 0.6s ease-in-out; }
    .page-nav a:hover:after {
      content: '›';
      -webkit-transform: translateX(20%);
          -ms-transform: translateX(20%);
              transform: translateX(20%); }

.breadcrumb li {
  display: inline;
  font-size: 0.875rem;
  color: #A3A3A3; }
  .breadcrumb li a {
    color: inherit;
    padding-right: 0.25rem;
    text-decoration: none; }
    .breadcrumb li a:hover {
      color: #FF0000; }
    .breadcrumb li a:after {
      content: '›';
      font-size: 180%;
      padding-left: 0.25rem;
      display: inline-block;
      position: relative;
      top: 0.1875rem;
      -webkit-transition: -webkit-transform 0.6s ease-in-out;
              transition: transform 0.6s ease-in-out; }
    .breadcrumb li a:hover:after {
      content: '›';
      -webkit-transform: translateX(20%);
          -ms-transform: translateX(20%);
              transform: translateX(20%); }

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
  -webkit-transform: translateZ(0.0001%);
          transform: translateZ(0.0001%); }
  @media only screen and (max-width: 40em) {
    .hero {
      background-size: 200% auto;
      background-position: right -5rem !important; } }
  @media only screen and (min-width: 64.063em) {
    .hero {
      background-attachment: fixed; } }
  .hero-bgRight {
    background-position: top right; }
  @media only screen and (max-width: 40em) {
    .hero > .row, .hero > .accordion, .hero > .page-nav {
      padding-left: 0;
      padding-right: 0 !important; } }

.hero_content {
  background-color: #fff;
  padding: 2.5rem; }
  @media only screen and (max-width: 40em) {
    .hero_content {
      margin-top: 6.25rem;
      margin-bottom: -3.75rem; } }
  @media only screen and (min-width: 40.063em) {
    .hero_content-noBG {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0; } }

.hero_title {
  margin-top: 3.75rem; }

.header {
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1); }
  .header_logo {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    z-index: 300;
    position: relative; }
    @media only screen and (max-width: 40em) {
      .header_logo {
        width: 4.375rem; } }
    .header_logo h1 {
      width: 0;
      height: 0;
      overflow: hidden; }
  .header .quickLinks {
    font-size: 0.75rem;
    line-height: 1;
    color: #A3A3A3; }
    @media only screen and (max-width: 40em) {
      .header .quickLinks {
        display: none; } }
    .header .quickLinks ul {
      float: right; }
    .header .quickLinks li {
      padding-top: 1.25rem;
      float: left;
      border-right: 1px solid #A3A3A3;
      padding-right: 0.25rem;
      padding-left: 0.25rem; }
      .header .quickLinks li:last-child {
        border-right: none;
        padding-right: 0; }
    .header .quickLinks a {
      text-decoration: none;
      color: #FF0000; }
  .header .navItems {
    float: right; }
  .header .nav {
    width: 100%;
    float: left;
    margin-top: 1.25rem; }
    @media only screen and (max-width: 40em) {
      .header .nav ul {
        background-color: #fff;
        position: absolute;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        z-index: 200;
        width: 100%;
        left: 0;
        top: 0;
        display: none; } }
    .header .nav li {
      float: left;
      padding-left: 1.25rem; }
      @media only screen and (max-width: 40em) {
        .header .nav li {
          display: block;
          float: none;
          text-align: center;
          padding-left: 0;
          font-size: 1.25rem;
          line-height: 1.6; } }
      @media only screen and (min-width: 40.063em) and (max-width: 64em) {
        .header .nav li {
          font-size: 0.875rem; } }
      .header .nav li:first-child {
        padding-left: 0; }
      .header .nav li a {
        color: gray;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        text-decoration: none;
        -webkit-transition: color 0.3s ease-out;
                transition: color 0.3s ease-out; }
        @media only screen and (max-width: 40em) {
          .header .nav li a {
            width: 100%;
            display: block;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem; } }
        .header .nav li a:hover {
          color: #FF0000; }
  .header .menu {
    position: absolute;
    top: 1.875rem;
    right: 1.25rem; }
  .header .nav-icon, .header .close-icon {
    width: 35px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg) scale(0.8);
    -ms-transform: rotate(0deg) scale(0.8);
    transform: rotate(0deg) scale(0.8);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    right: 0;
    z-index: 10000; }
    @media only screen and (min-width: 40.063em) {
      .header .nav-icon, .header .close-icon {
        display: none; } }
    .header .nav-icon.open span, .header .close-icon.open span {
      background-color: #4D4D4D; }
    .header .nav-icon span, .header .close-icon span {
      display: block;
      position: absolute;
      height: 2px;
      width: 50%;
      background-color: #4D4D4D;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out; }
  .header .nav-icon span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0; }
  .header .nav-icon span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px; }
  .header .nav-icon span:nth-child(1), .header .nav-icon span:nth-child(2) {
    top: 0px; }
  .header .nav-icon span:nth-child(3), .header .nav-icon span:nth-child(4) {
    top: 8px; }
  .header .nav-icon span:nth-child(5), .header .nav-icon span:nth-child(6) {
    top: 16px; }
  .header .nav-icon.open span:nth-child(1), .header .nav-icon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .header .nav-icon.open span:nth-child(2), .header .nav-icon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .header .nav-icon.open span:nth-child(1) {
    left: 2px;
    top: 5px; }
  .header .nav-icon.open span:nth-child(2) {
    left: calc(50% - 2px);
    top: 5px; }
  .header .nav-icon.open span:nth-child(3) {
    left: -50%;
    opacity: 0; }
  .header .nav-icon.open span:nth-child(4) {
    left: 100%;
    opacity: 0; }
  .header .nav-icon.open span:nth-child(5) {
    left: 2px;
    top: 20px; }
  .header .nav-icon.open span:nth-child(6) {
    left: calc(50% - 2px);
    top: 20px; }
  .header .close-icon span:nth-child(1), .header .close-icon span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .header .close-icon span:nth-child(2), .header .close-icon span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .header .close-icon span:nth-child(1) {
    left: 2px;
    top: 5px; }
  .header .close-icon span:nth-child(2) {
    left: calc(50% - 2px);
    top: 5px; }
  .header .close-icon span:nth-child(3) {
    left: -50%;
    opacity: 0; }
  .header .close-icon span:nth-child(4) {
    left: 100%;
    opacity: 0; }
  .header .close-icon span:nth-child(5) {
    left: 2px;
    top: 20px; }
  .header .close-icon span:nth-child(6) {
    left: calc(50% - 2px);
    top: 20px; }

.footer {
  font-size: 0.625rem;
  line-height: 1.8;
  background-color: whitesmoke;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #9a9a9a; }
  @media only screen and (min-width: 40.063em) {
    .footer {
      font-size: 0.8125rem;
      padding-top: 5rem;
      padding-bottom: 5rem; } }
  .footer a {
    text-decoration: none;
    color: #9a9a9a;
    display: inline-block; }
    .footer a:hover {
      color: #676767; }
    @media only screen and (min-width: 40.063em) {
      .footer a {
        margin-bottom: 0.25rem; } }
  .footer .sectionTitle {
    margin-bottom: 0.625rem !important; }
    .footer .sectionTitle a {
      color: #FF0000; }
  .footer > .row:first-child, .footer > .accordion:first-child, .footer > .page-nav:first-child {
    margin-bottom: 5rem; }
  .footer .copyright {
    margin-bottom: 1.25rem; }
  .footer_links {
    text-align: left; }
    @media only screen and (min-width: 40.063em) {
      .footer_links {
        text-align: right; } }
    @media only screen and (min-width: 40.063em) {
      .footer_links ul {
        float: right; } }
    .footer_links li {
      float: left;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      border-right: 1px solid #9a9a9a;
      line-height: 1; }
      @media only screen and (max-width: 40em) {
        .footer_links li:first-child {
          padding-left: 0; } }
      .footer_links li:last-child {
        padding-right: 0;
        border-right: none; }

.footer_block {
  margin-bottom: 2.5rem; }
  @media only screen and (max-width: 40em) {
    .footer_block:nth-child(4) {
      clear: left; } }
  @media only screen and (min-width: 40.063em) {
    .footer_block {
      padding-right: 1.25rem; } }
  .footer_block:last-child {
    padding-right: 0; }

.home-quickLinks {
  margin: auto auto;
  float: none;
  width: 100%;
  text-align: center;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem; }
  .home-quickLinks li {
    float: none;
    text-align: center;
    margin: auto;
    display: inline-block;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    text-decoration: none; }
  .home-quickLinks a {
    color: #FF0000;
    font-weight: 400;
    text-decoration: none; }
    .home-quickLinks a:after {
      content: '›';
      font-size: 180%;
      padding-left: 0.625rem;
      display: inline-block;
      position: relative;
      top: 0.1875rem;
      -webkit-transition: -webkit-transform 0.6s ease-in-out;
              transition: transform 0.6s ease-in-out; }
    .home-quickLinks a:hover:after {
      content: '›';
      -webkit-transform: translateX(20%);
          -ms-transform: translateX(20%);
              transform: translateX(20%); }
  .home-quickLinks_title {
    font-weight: 100 !important;
    border-right: 0.125rem solid #4D4D4D; }

.slider .slide {
  position: relative;
  float: left;
  width: 100%;
  color: #fff; }
  .slider .slide_content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .slider .slide_title, .slider .slide_subhead {
    font-weight: 100; }
  .slider .slide_title {
    font-size: 8vw;
    line-height: 1; }
  @media only screen and (max-width: 40em) {
    .slider .slide img {
      width: 170%;
      margin-left: -20%;
      max-width: none; } }

.related-subsidiaries {
  background-color: #efefef;
  padding: 1.25rem;
  margin-top: 3.75rem; }
  .related-subsidiaries > h1 {
    padding-bottom: 0.625rem;
    border-bottom: 1px solid #d6d6d6; }
  .related-subsidiaries > div {
    float: left; }
    .related-subsidiaries > div:last-child {
      margin-right: 0; }
    @media only screen and (min-width: 40.063em) {
      .related-subsidiaries > div {
        margin-right: 1.875rem; } }
  .related-subsidiaries img {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
            transition: transform 0.6s ease-in-out; }
    .related-subsidiaries img:hover {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2); }

html, body {
  width: 100% !important;
  overflow-x: hidden; }

.extra-bg {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  @media only screen and (max-width: 40em) {
    .extra-bg img {
      width: 200%;
      margin-left: -25%;
      max-width: none; } }

/*# sourceMappingURL=app.css.map */